<footer class="footer site-item" role="contentinfo">
  <div class="row">
    <div class="cell well well--l">
      <div class="g">
        <div class="g-b g-b--m--1of2">
          <div class="g g--s">
            <div class="g-b g-b--m--1of2 g-b--xl--1of3">
              <ul class="footer-list list mbm mbl--xl">
                <li class="list-item"><a class="footer-list-link link link--underline list-item-link" href="https://www.codeschool.com/users/sign_up">Create Free Account</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/pricing/team">Team Accounts</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/courses">View Courses</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/courses/suggest">Suggest Course</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/suggest/features">Suggest Feature</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/discuss">Discuss</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/support">Support</a></li>
              </ul>
            </div>
            <div class="g-b g-b--m--1of2 g-b--xl--1of3">
              <ul class="footer-list list mbm mbl--xl">
                <li class="list-item"><a class="footer-list-link link link--underline list-item-link" href="https://www.codeschool.com/contact">Contact Code School</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/about">About</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/blog">Blog</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/jobs">Jobs</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://shop.codeschool.com/">Shop</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/terms">Terms of Use</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://www.codeschool.com/privacy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="g-b g-b--xl--1of3">
              <ul class="footer-list list mbs mbm--xl">
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://ruby5.codeschool.com/">Ruby5 Podcast</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://fivejs.codeschool.com/">FiveJS Podcast</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://frontendfive.codeschool.com/">Front-end Five Podcast</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="https://iosbytes.codeschool.com/">iOS Bytes Podcast</a></li>
                <li class="list-item"><a class="footer-list-link list-item-link" href="{{ '/feed.xml' | prepend: site.baseurl }}">Subscribe via RSS</a></li>
              </ul>
              <ul class="list iconList mbm mbs--m">
                <li class="iconList-item">
                  <a class="iconList-item-link footer-list-link" href="https://twitter.com/{{site.twitter_username}}">
                    <span class="srt">Twitter</span>
                    <svg class="icon " height="24" width="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
                  </a>
                </li>
                <li class="iconList-item">
                  <a class="iconList-item-link footer-list-link" href="https://www.facebook.com/{{site.facebook_username}}">
                    <span class="srt">Facebook</span>
                    <svg class="icon " height="24" width="24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use> </svg>
                  </a>
                </li>
                <li class="iconList-item">
                  <a class="iconList-item-link footer-list-link" href="https://plus.google.com/{{site.googleplus_username}}/posts">
                    <span class="srt">Google-plus</span>
                    <svg class="icon " height="24" width="24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google-plus"></use> </svg>
                  </a>
                </li>
                <li class="iconList-item">
                  <a class="iconList-item-link footer-list-link" href="https://www.instagram.com/{{site.instagram_username}}">
                    <span class="srt">Instagram</span>
                    <svg class="icon " height="24" width="24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use> </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="footer-copyright footer-copyright--east">Powered by Jekyll. Inspired by Code School Blog.</p>
        </div>

        <div class="g-b g-b--m--1of2">
          <div class="footer-about">
            <img alt="Code School" class="db mbm" width="100" src="{{site.baseurl}}/images/logo-footer.png">
            <p class="pts tss">
              <strong>Code School</strong> teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts. They strive to help you learn by doing.
            </p>
            <div class="mbm mbl--m"> <a class="link link--underline tss" href="https://www.codeschool.com/about">Learn More</a> </div>
            <p class="footer-copyright footer-copyright--south">
              Powered by Jekyll. Inspired by Code School Blog.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>